# Environment variables
# NEXT_PUBLIC_API_URL=https://impandi.pythonanywhere.com

# NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=your_google_verification_code_here

# Brand Customization
# NEXT_PUBLIC_BRAND_NAME=Pandi
# NEXT_PUBLIC_API_BRAND=Pandi
# NEXT_PUBLIC_LOGO_URL=/images/Providers/Products brands/pandi.png
# NEXT_PUBLIC_ETIQUETAS="AGUZADORES,ALFILERES,ALMOHADILLAS,APOYAMANOS,ARCHIVADORES,BASES DE CORTE,BASUREROS,CARPETAS,CINTA CORRETORA,CLIPS,COLORES,COMPASES,CORRECTORES,CUCHILLAS,FOAMIS,FOLDERS,FOLDERS COLGANTE,FORROS PLASTICOS,GRAPADORAS,GRAPAS,INDICES,LAMINAS DE ACETATO,LAMINADORAS,LIGAS,MANECILLAS,MANECILLAS PARA APOYAMANOS,MICAS,MICROMINAS,NOTITAS ADHESIVAS,ORGANIZADOR DE ESCRITORIO,PALOS DE HELADO,PAPEL ALUMINIO,PAPEL CELOFAN,PAPEL FLUORESCENTE,PAPEL OROPEL,PAPEL PLANO,PAPEL REGALO,PAPEL TERMICO,PAPEL TORNASOL,PASTAS,PERFORADORAS,PIZARRONES,PORTACLIPS,PORTACREDENCIALES,PORTALAPICES,PORTAMINAS,PORTAPLANOS,PROTECTORES DE HOJAS,PUSH PIN,ROLLOS PARA ATIQUETADORA,SACAPUNTAS,SILICONAS,SOBRES,TACHUELAS,TIJERAS,VINCHAS"
