# Environment variables
# NEXT_PUBLIC_API_URL=https://impandi.pythonanywhere.com

# NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=your_google_verification_code_here

# Brand Customization
# NEXT_PUBLIC_BRAND_NAME=Pandi
# NEXT_PUBLIC_API_BRAND=Pandi
# NEXT_PUBLIC_LOGO_URL=/images/Providers/Products brands/pandi.png
